---
country: "United States"
title: "L2 Ramps"
subtitle: "Decide the best fiat-to-crypto ramp for your Layer-2 journey"
repo: "https://github.com/otavio939/l2ramps"
---
{{!-- To edit data above if forking --}}


<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/svg+xml" href="../favicon/favicon.svg">
    <link rel="icon" type="image/png" href="../favicon/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@400;700&display=swap">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  </head>

  <body class="min-h-screen min-w-full font-body text-center">
    
    <!-- HEADER -->
    <div class="text-pure-white bg-evergreen-fog dark:bg-fabulous-grape">

      {{!-- Top row --}}
      <div class="flex pt-4 mx-4 text-pure-white">
        {{!-- Left dropdown menu --}}
        <div class="dropdown flex-none px-2 py-1 text-left border border-pure-white">
          <span class="align-middle">{{country}}<i class='bx bxs-chevron-down cursor-pointer align-middle pl-1'></i></span>
          <div class="dropdown-content">
            {{#each forks.versions}}
              <p class="w-max mt-1 p-2 border border-pure-white ">
                <a href="{{link}}" class="hover:opacity-70">{{country}}</a>
              </p>
            {{/each}}
          </div>
        </div>
        <!-- Right icons: dark mode toggle and github button -->
        <div class="flex-auto"></div>
        <div class="flex-none p-2 border border-pure-white">
          <i class="bx bxs-sun sun cursor-pointer"></i>
          <i class="bx bx-moon moon cursor-pointer"></i>      
        </div>
        <div class="flex-none ml-3 p-2 border border-accent">
          <a href="{{repo}}" target="_blank"><i class='bx bxl-github'></i></a>
        </div>
      </div>

      <!-- Title and subtitle -->
      <div class="mt-16 pb-24">
        <p class="text-6xl font-header mb-4">{{title}}</p>
        <p class="text-xl">{{subtitle}}</p>
      </div>

    </div>

    <!-- ACCORDION -->
    <div class="w-screen mx-auto py-24 text-left bg-skyline-steel dark:bg-mineral-gray dark:text-pure-white">
        
      {{!-- Accordion rows loop --}}
      {{#each main.ramps}}
        
        {{!-- Accordion headers --}}
        <div class="accordion max-w-screen-md mx-auto px-4 py-6 cursor-pointer hover:bg-evergreen-fog dark:hover:bg-fabulous-grape  border-t active:dark:hover:bg-fabulous-grape border-t-evergreen-fog">
          <img src="../icons/{{ramp}}.png" alt="{{ramp}}" class="inline-block w-4 max-h-4 mr-3">
          <span class="font-bold">{{ramp}}</span>
        </div>

        {{!-- Accordion content --}}
        <div class="panel max-w-screen-md mx-auto p-4 bg-pure-white dark:bg-homburg-gray">
          <a href="{{ramp-link}}" target="_blank" class="p-1 text-sm text-skyline-steel border border-skyline-steel hover:opacity-50">
            Website<i class='bx bx-link-external ml-1'></i>
          </a>

          {{!-- Funding sub-section --}}
          <div class="my-6">
            <div class="flex flex-row">
              <span class="basis-12/12 font-bold">Funding options</span>
            </div>
            {{#each this.funding}}
              <div class="flex flex-row pt-1 pl-2">
                <span class="basis-3/12">{{method}}</span>
                <span class="basis-3/12">{{time}}</span>
                <span class="basis-3/12">{{fee}}
                  <span class="wrapper inline-block">
                    <i class="bx bx-help-circle ml-1"></i>
                    <span class="tooltip empty:hidden text-xs z-10">{{fee-note}}</span>
                  </span>
                </span>
              </div>
            {{/each}}
          </div>
          
          {{!-- Withdraw sub-section --}}
          <div class="mb-6">
            <div class="flex">
              <span class="basis-12/12 font-bold">Withdraw options</span>
            </div>
            {{#each this.tokens}}
              <div class="flex pt-1 pl-2">
                <span class="basis-3/12">{{token}}</span>
                <span class="basis-3/12">
                  {{#each this.layer2s}}
                    <img src="../icons/{{layer2}}.png" alt="{{layer2}}" class="inline-block h-5 mr-1">
                  {{/each}}
                </span>
              </div>
            {{/each}}
          </div>

        </div>

      {{/each}}
    </div>

    <script src="./app.js"></script>
  </body>
</html>