<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L2 Ramp</title>
    <link href="./index.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

  <body class="min-h-screen min-w-full p-4 text-center text-slate-700 dark:text-slate-300 bg-slate-100 dark:bg-slate-800">
    
    <!-- Dark mode toggle button -->
    <div class="flex">
      <div class="flex-auto"></div>
      <div class="flex-none p-2 text-slate-500 border border-slate-500 rounded-full">
        <i class="bx bxs-sun sun"></i>
        <i class="bx bx-moon moon"></i>      
      </div>
    </div>

    <!-- Main header and subtitle -->
    <div class="mt-4">
      <p class="text-5xl">L2 Ramps</p>
      <p class="text-xl">Decide the best fiat-to-crypto ramp for your Layer-2 journey</p>
    </div>

    <!-- Card layout -->
    {{#each ramps.cards}}
      <div class="grid grid-cols-5 auto-cols-auto my-8 p-4 gap-2 max-w-4xl mx-auto text-left border border-slate-500 rounded bg-slate-200 dark:bg-slate-700 shadow-lg ">
        <p class="text-2xl font-bold">{{name}}</p>
        <p class="col-span-4 text-right text-xs text-slate-400">{{description}}</p>
        {{#each this.routes}}
          <div class="tooltip">{{type}}
            <div class="wrapper inline-block">
              <i class="bx bx-error-circle mx-2"></i>
              <span class="tooltip empty:hidden text-xs">{{type-tooltip}}</span>
            </div>
          </div>
          <div class="tooltip">{{tokens}}
            <div class="wrapper inline-block">
              <i class="bx bx-error-circle mx-2"></i>
              <span class="tooltip empty:hidden text-xs">{{tokens-tooltip}}</span>
            </div>
          </div>
          <div class="tooltip">{{method}}
            <div class="wrapper inline-block">
              <i class="bx bx-error-circle mx-2"></i>
              <span class="tooltip empty:hidden text-xs">{{method-tooltip}}</span>
            </div>
          </div>
          <div class="tooltip">{{time}}
            <div class="wrapper inline-block">
              <i class="bx bx-error-circle mx-2"></i>
              <span class="tooltip empty:hidden text-xs">{{time-tooltip}}</span>
            </div>
          </div>
          <div>{{fee}}
            <div class="wrapper inline-block">
              <i class="bx bx-error-circle mx-2"></i>
              <span class="tooltip empty:hidden text-xs">{{fee-tooltip}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}

    <script src="./dark-mode.js"></script>
  </body>
</html>