
{{#extend "layout"}}

  {{#content "body"}}

    <!-- HEADER -->
    {{#extend "header"}}{{/extend}}

    <!-- ACCORDION -->
    <div class="bg-pure-white text-black-magic dark:bg-black-magic dark:text-pure-white">
      <div class="max-w-screen-lg mx-auto py-24 px-8 text-left">

        {{!-- Header over accordion --}}
        <div class="flex mb-2 px-4 font-bold opacity-70 text-sm text-center">
          <div class="basis-4/12"></div>
          <div class="basis-2/12">Ramp Way</div>
          <div class="basis-2/12 mx-4">Trust</div>
          <div class="basis-2/12 mx-4">Easy of Use</div>
          <div class="basis-2/12 mx-4">Cost</div>
        </div>
          
        {{!-- Accordion rows loop --}}
        {{#each main.ramps}}
          
          {{!-- Accordion headers --}}
          <div class="accordion text-center px-4 py-6 cursor-pointer border-t border-chatura-gray dark:border-kestrel-white hover:bg-chatura-gray dark:hover:bg-fabulous-grape">
            <div class="flex items-center">
              <div class="basis-4/12 text-left">
                <img class="inline-block w-4 max-h-4 mr-3" src="../icons/{{ramp}}.png" alt="{{ramp}}">
                <span class="font-bold">{{ramp}}</span>
                <span class="ml-2 italic text-sm opacity-50">{{type}}</span>
              </div>
              <div class="basis-2/12 font-header text-xs">{{way}}</div>
              <div class="basis-2/12 mx-4">
                <div class="bg-gradient-to-r from-pink-200 to-red-300 dark:from-pink-800 dark:to-red-900 w-{{trust}} rounded text-sm">{{trust}}</div>
              </div>
              <div class="basis-2/12 mx-4">
                <div class="bg-gradient-to-r from-sky-200 to-blue-300 dark:from-sky-800 dark:to-blue-900 w-{{exp}} rounded text-sm">{{exp}}</div>
              </div>
              <div class="basis-2/12 mx-4">
                <div class="bg-gradient-to-r from-emerald-200 to-green-300 dark:from-emerald-800 dark:to-green-900 w-{{cost}} rounded text-sm">{{cost}}</div>
              </div>
            </div>
          </div>

          {{!-- Accordion content --}}
          <div class="panel p-8 bg-kestrel-white dark:bg-mount-etna">

            {{!-- Links --}}
            {{#each this.links}}
              <a href="{{url}}" target="_blank" class="p-2 mr-4 text-sm text-reddened-earth dark:text-kestrel-white border border-reddened-earth dark:border-kestrel-white hover:opacity-70">{{text}}<i class='bx bx-link-external ml-1'></i></a>
            {{/each}}

            {{!-- Info sub-section --}}
            {{#each this.info}}
              <div class="grid auto-cols-max gap-x-12 gap-y-1 mt-8">
                <span class="col-span-3 mt-4 mb-2 font-bold text-reddened-earth dark:text-kestrel-white">{{title}}</span>
                {{#each this.rows}}
                  <span>{{col-1}}
                    <span class="wrapper inline-block">
                      <i class="bx bx-help-circle ml-1"></i>
                      <span class="tooltip empty:hidden text-xs z-10">{{col-1-tooltip}}</span>
                    </span>
                  </span>
                  <span>{{col-2}}
                    <span class="wrapper inline-block">
                      <i class="bx bx-help-circle ml-1"></i>
                      <span class="tooltip empty:hidden text-xs z-10">{{col-2-tooltip}}</span>
                    </span>
                  </span>
                  <span>{{col-3}}
                    <span class="wrapper inline-block">
                      <i class="bx bx-help-circle ml-1"></i>
                      <span class="tooltip empty:hidden text-xs z-10">{{col-3-tooltip}}</span>
                    </span>
                  </span>
                {{/each}}
              </div>
            {{/each}}

          </div>

        {{/each}}

      </div>

    </div>

    <div class="bg-kestrel-white text-black-magic dark:bg-mount-etna dark:text-pure-white">
      <div class="max-w-screen-lg mx-auto py-24 px-8 text-left">
        
        <p class="font-header text-4xl text-center mb-16">Scoring</p>

        <p class="text-3xl mt-12 mb-4">Trust</p>
        <p class="mb-2">The rating for each ramp starts at 100 points and may suffer the following deductions:</p>
        <table>
          <thead>
            <tr>
              <th>Deduction</th>
              <th>Reasoning for deduction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5 points</td>
              <td>
                - Legaly based in a different jurisdiction<br>
                - User funds are kept in custody for more than a couple hours.
              </td>
            </tr>
            <tr>
              <td>10 points</td>
              <td>
                - User funds are kept in custody for more than a day.
              </td>
            </tr>
            <tr>
              <td>20 points</td>
              <td>
                - User funds are kept in custody and no verifiable Proof of Reserve and Liabilities is available.<br>
                - Privacy policy allows the ramp to share user data.
              </td>
            </tr>
            <tr>
              <td>40 points</td>
              <td>
                - Hack involving user funds in the last 5 years<br>
                - History of withdraw of user funds suspended in the last 5 years
              </td>
            </tr>
          </tbody>
        </table>

        <p class="text-3xl mt-12 mb-4">Easy of Use</p>
        <p class="mb-2">The rating for each ramp starts at 100 points and may suffer the following deductions:</p>
        <table>
          <thead>
            <tr>
              <th>Deduction</th>
              <th>Reasoning for deduction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5 points</td>
              <td>
                - More than two clicks (or touches) are needed to start the process.<br>
                - The interface is confusing. <br>
                - The appearance is outdated. <br>
                - Takes more than 10 minutes for a card or digital wallet purchase. <br>
                - Takes more than 3 business days for ACH or Wire transfer to clear.
              </td>
            </tr>
            <tr>
              <td>10 points</td>
              <td>
                - Crucial information is not clearly visible (like time, cost, and destination). <br>
                - Takes more than 20 minutes for a card or digital wallet purchase. <br>
                - Takes more than 5 business days for ACH or Wire transfer to clear.
              </td>
            </tr>
            <tr>
              <td>20 points</td>
              <td>
                - Takes more than 60 minutes for a card or digital wallet purchase. <br>
                - Takes more than 7 business days for ACH or Wire transfer to clear.
              </td>
            </tr>
          </tbody>
        </table>

        <p class="text-3xl mt-12 mb-4">Cost</p>
        <p class="mb-2">The rating for each ramp starts at 100 points and may suffer the following deductions:</p>
        <table>
          <thead>
            <tr>
              <th>Deduction</th>
              <th>Reasoning for deduction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5 points</td>
              <td>
                - Wire deposits costs more than $15 <br>
                - Service or trade fee costs more than 0.5%
              </td>
            </tr>
            <tr>
              <td>10 points</td>
              <td>
                - ACH transfers are not free <br>
                - Credit or debit card fee costs more than 3% <br>
                - Service or trade fee costs more than 1.0%
              </td>
            </tr>
            <tr>
              <td>15 points</td>
              <td>
                - Credit or debit card fee costs more than 4% <br>
                - Service or trade fee costs more than 1.5%
              </td>
            </tr>
            <tr>
              <td>20 points</td>
              <td>
                - Credit or debit card fee costs more than 5% <br>
                - Service or trade fee costs more than 2.0%
              </td>
            </tr>
          </tbody>
        </table>

        <p class="font-header text-4xl text-center mt-24 mb-16">Filtering and Sorting</p>

        <p class="text-3xl mt-12 mb-4">Ramps</p>
        <p>The current list only includes ramps that follow the following criteria:</p>
        <ul>
          <li>- Terms of service should not exclude a U.S. Person.</li>
          <li>-	Must offer withdraw (or deposits from) an Ethereum Layer 2.</li>
          <li>-	Must be unique. Therefore, aggregators and alternative interfaces for a same service was omitted for simplicity.</li>
        </ul> 

        <p class="text-3xl mt-12 mb-4">Layer 2s</p>
        <p>It was only considered chains:</p>
        <ul>
          <li>-	That fully or partially derives its security from L1 Ethereum so that users do not have to rely on the honesty of L2 validators for the security of their funds</li>
          <li>-	With Total Value Locked greater than $1M.</li>
        </ul>

        <p class="text-3xl mt-12 mb-4">Tokens</p>
        <p>They were sorted on the following order:</p>
        <ul>
          <li>1. ETH - Necessary for most activities since is used for network fees</li>
          <li>2. STABLE TOKENS - It can be used in non-speculative actives and naturally good onboarding tokens. They are sorted based on decentralization (ex.: RAI / LUSD > DAI > USDC / USDT).</li>
          <li>3. VOLATILE TOKENS - It is displayed for last due to their riskier nature. They are sorted alphabetically.</li>
        </ul>


        <p class="text-3xl mt-12 mb-4">Payment Methods</p>
        <p>Only payment methods available for U.S. Person are displayed.</p>
        <p>They were sorted based on cost followed by speed when cost is similar:</p>
        <ul>
          <li>1. ACH transfers</li>
          <li>2. Third-party payments (ex.: Zelle, Venmo, CashApp, PayPal)</li>
          <li>3. Digital wallets (ex.: Apple Pay and Google Pay)</li>
          <li>4. Credit and debit cards</li>
          <li>5. Wire transfers</li>
        </ul>

      </div>

    </div>

  {{/content}}

{{/extend}}