<!doctype html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L2 Ramps</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/svg+xml" href="../favicon/favicon.svg">
    <link rel="icon" type="image/png" href="../favicon/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@400;700&display=swap">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  </head>

  <body class="min-h-screen min-w-full font-body text-center">
    
    <!-- HEADER -->
    {{#with header}}
      <div class="bg-chatura-gray dark:bg-fabulous-grape text-pure-white border-pure-white">

        {{!-- Top row --}}
        <div class="flex pt-4 mx-4">
          {{!-- Left dropdown menu --}}
          <div class="dropdown flex-none px-2 py-1 text-left border">
            <span class="align-middle">{{version}}<i class='bx bxs-chevron-down cursor-pointer align-middle pl-1'></i></span>
            <div class="dropdown-content">
              {{#each this.forks}}
                <p class="w-max mt-1 p-2 border">
                  <a href="{{link}}" class="hover:opacity-70">{{country}}</a>
                </p>
              {{/each}}
            </div>
          </div>

          <!-- Right icons: dark mode toggle and github button -->
          <div class="flex-auto"></div>
          <div class="flex-none p-2 border">
            <i class="bx bxs-sun sun cursor-pointer"></i>
            <i class="bx bx-moon moon cursor-pointer"></i>      
          </div>
          <div class="flex-none ml-3 p-2 border border-accent">
            <a href="{{repo}}" target="_blank"><i class='bx bxl-github'></i></a>
          </div>
        </div>

        <!-- Title and subtitle -->
        <div class="mt-16 pb-24">
          <p class="text-6xl font-header mb-4">{{title}}</p>
          <p class="text-xl">{{subtitle}}</p>
        </div>

      </div>
    {{/with}}

    <!-- ACCORDION -->
    <div class="py-24 text-left bg-pure-white text-black-magic dark:bg-mineral-gray dark:text-pure-white">

      {{!-- Header over accordion --}}
      <div class="flex max-w-screen-lg mx-auto mb-2 px-4 font-bold opacity-70 text-sm text-center">
        <div class="basis-4/12"></div>
        <div class="basis-2/12">Ramp Way</div>
        <div class="basis-2/12">Minimum KYC</div>
        <div class="basis-2/12">Ramp under 10min</div>
        <div class="basis-2/12">Cost under 1%</div>
      </div>
        
      {{!-- Accordion rows loop --}}
      {{#each main.ramps}}
        
        {{!-- Accordion headers --}}
        <div class="accordion max-w-screen-lg mx-auto text-center px-4 py-6 cursor-pointer border-t border-chatura-gray dark:border-kestrel-white hover:bg-chatura-gray dark:hover:bg-fabulous-grape">
          <div class="flex">
            <div class="basis-4/12 text-left">
              <img class="inline-block w-4 max-h-4 mr-3" src="../icons/{{ramp}}.png" alt="{{ramp}}">
              <span class="font-bold">{{ramp}}</span>
              <span class="ml-2 italic text-sm opacity-50">{{type}}</span>
            </div>
            <div class="basis-2/12">{{way}}</div>
            <div class="basis-2/12">{{kyc}}</div>
            <div class="basis-2/12">{{fast-ramp}}</div>
            <div class="basis-2/12">{{low-cost}}</div>
          </div>
        </div>

        {{!-- Accordion content --}}
        <div class="panel max-w-screen-lg mx-auto p-4 bg-kestrel-white dark:bg-mount-etna">

          {{!-- Links --}}
          {{#each this.links}}
            <a href="{{url}}" target="_blank" class="p-1 ml-2 text-sm text-reddened-earth dark:text-kestrel-white border border-reddened-earth dark:border-kestrel-white hover:opacity-70">{{text}}<i class='bx bx-link-external ml-1'></i></a>
          {{/each}}

          {{!-- Funding sub-section --}}
          <div class="my-6">
            <div class="flex">
              <span class="basis-12/12 font-bold mb-1">Funding</span>
            </div>
            {{#each this.funding}}
              <div class="flex pt-2 ml-6 border-b border-dashed border-reddened-earth dark:border-kestrel-white">
                <span class="basis-2/12">{{method}}</span>
                <span class="basis-2/12 text-center">{{time}}</span>
                <span class="basis-2/12 text-right">{{fee}}
                  <span class="wrapper inline-block">
                    <i class="bx bx-help-circle ml-1"></i>
                    <span class="tooltip empty:hidden text-xs z-10">{{fee-note}}</span>
                  </span>
                </span>
              </div>
            {{/each}}
          </div>

          {{!-- Purchase sub-section --}}
          <div class="my-6">
            <div class="flex">
              <span class="basis-12/12 font-bold mb-1">Purchase</span>
            </div>
            {{#each this.purchase}}
              <div class="flex pt-2 ml-6 border-b border-dashed border-reddened-earth dark:border-kestrel-white">
                <span class="basis-3/12">{{method}}</span>
                <span class="basis-3/12">{{fee}}
                  <span class="wrapper inline-block">
                    <i class="bx bx-help-circle ml-1"></i>
                    <span class="tooltip empty:hidden text-xs z-10">{{fee-note}}</span>
                  </span>
                </span>
              </div>
            {{/each}}
          </div>
          
          {{!-- Withdraw sub-section --}}
          <div class="mb-6">
            <div class="flex">
              <span class="basis-12/12 font-bold mb-1">Withdraw</span>
            </div>
            {{#each this.withdraw}}
              <div class="flex pt-2 ml-6 border-b border-dashed border-reddened-earth dark:border-kestrel-white items-center">
                <span class="basis-1/12 text-sm align-middle">{{token}}</span>
                <span class="basis-2/12 align-middle">
                  {{#each this.layer2s}}
                    <img src="../icons/{{layer2}}.png" alt="{{layer2}}" class="inline-block h-5 mr-1">
                  {{/each}}
                </span>
              </div>
            {{/each}}
          </div>

        </div>

      {{/each}}
    </div>

    <script src="./app.js"></script>

  </body>
</html>