<!doctype html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L2 Ramps</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/svg+xml" href="../favicon/favicon.svg">
    <link rel="icon" type="image/png" href="../favicon/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@400;700&display=swap">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  </head>

  <body class="min-h-screen min-w-full font-body text-center">
    
    <!-- HEADER -->
    {{#with header}}
      <div class="bg-chatura-gray dark:bg-fabulous-grape text-pure-white border-pure-white">

        {{!-- Top row --}}
        <div class="flex pt-4 mx-4">
          {{!-- Left dropdown menu --}}
          <div class="dropdown flex-none px-2 py-1 text-left border">
            <span class="align-middle">{{version}}<i class='bx bxs-chevron-down cursor-pointer align-middle pl-1'></i></span>
            <div class="dropdown-content">
              {{#each this.forks}}
                <p class="w-max mt-1 p-2 border">
                  <a href="{{link}}" class="hover:opacity-70">{{country}}</a>
                </p>
              {{/each}}
            </div>
          </div>

          <!-- Right icons: dark mode toggle and github button -->
          <div class="flex-auto"></div>
          <div class="flex-none p-2 border dark-mode cursor-pointer">
            <i class="bx bxs-sun"></i>
            <i class="bx bx-moon"></i>      
          </div>
          <a href="{{repo}}" target="_blank" class="flex-none ml-3 p-2 border border-accent">
            <i class='bx bxl-github'></i>
          </a>
        </div>

        <!-- Title and subtitle -->
        <div class="mt-16 pb-24">
          <p class="text-6xl font-header mb-4">{{title}}</p>
          <p class="text-xl">{{subtitle}}</p>
        </div>

      </div>
    {{/with}}

    <!-- ACCORDION -->
    <div class="py-24 text-left bg-pure-white text-black-magic dark:bg-mineral-gray dark:text-pure-white">

      {{!-- Header over accordion --}}
      <div class="flex max-w-screen-lg mx-auto mb-2 px-4 font-bold opacity-70 text-sm text-center">
        <div class="basis-4/12"></div>
        <div class="basis-2/12">Ramp Way</div>
        <div class="basis-2/12">Minimum KYC</div>
        <div class="basis-2/12">Ramp < 10min</div>
        <div class="basis-2/12">Cost < 1%</div>
      </div>
        
      {{!-- Accordion rows loop --}}
      {{#each main.ramps}}
        
        {{!-- Accordion headers --}}
        <div class="accordion max-w-screen-lg mx-auto text-center px-4 py-6 cursor-pointer border-t border-chatura-gray dark:border-kestrel-white hover:bg-chatura-gray dark:hover:bg-fabulous-grape">
          <div class="flex">
            <div class="basis-4/12 text-left">
              <img class="inline-block w-4 max-h-4 mr-3" src="../icons/{{ramp}}.png" alt="{{ramp}}">
              <span class="font-bold">{{ramp}}</span>
              <span class="ml-2 italic text-sm opacity-50">{{type}}</span>
            </div>
            <div class="basis-2/12 font-header text-xs">{{way}}</div>
            <div class="basis-2/12">{{kyc}}</div>
            <div class="basis-2/12">{{fast-ramp}}</div>
            <div class="basis-2/12">{{low-cost}}</div>
          </div>
        </div>

        {{!-- Accordion content --}}
        <div class="panel max-w-screen-lg mx-auto p-8 bg-kestrel-white dark:bg-mount-etna">

          {{!-- Links --}}
          {{#each this.links}}
            <a href="{{url}}" target="_blank" class="p-2 mr-4 text-sm text-reddened-earth dark:text-kestrel-white border border-reddened-earth dark:border-kestrel-white hover:opacity-70">{{text}}<i class='bx bx-link-external ml-1'></i></a>
          {{/each}}

          {{!-- Info sub-section --}}
          {{#each this.info}}
            <div class="grid grid-cols-3 gap-x-4 gap-y-1 mt-8">
              <span class="col-span-3 font-bold text-reddened-earth dark:text-kestrel-white">{{title}}</span>
              {{#each this.rows}}
                <span>{{col-1}}
                  <span class="wrapper inline-block">
                    <i class="bx bx-help-circle ml-1"></i>
                    <span class="tooltip empty:hidden text-xs z-10">{{col-1-tooltip}}</span>
                  </span>
                </span>
                <span>{{col-2}}
                  <span class="wrapper inline-block">
                    <i class="bx bx-help-circle ml-1"></i>
                    <span class="tooltip empty:hidden text-xs z-10">{{col-2-tooltip}}</span>
                  </span>
                </span>
                <span>{{col-3}}
                  <span class="wrapper inline-block">
                    <i class="bx bx-help-circle ml-1"></i>
                    <span class="tooltip empty:hidden text-xs z-10">{{col-3-tooltip}}</span>
                  </span>
                </span>
              {{/each}}
            </div>
          {{/each}}
          
        </div>

      {{/each}}
    </div>

    <script src="./app.js"></script>

  </body>
</html>